# Ignore node_modules directory
# node_modules/

# Ignore environment variables file
.env

# Vite build output
# used by Vite to store cache and build artifacts, which helps improve development speed.
.vite

# Ignore build output (for React)
# build/

# Ignore operating system specific files
#.DS_Store

# Ignore editor specific files
#.vscode/
#.idea/
